
.primary-color{
    color:#FF4240;
}
.btn-bg {
    background-color:#FF4240;
}

  .p-black{
    color: rgba(19, 19, 24, 0.60);
  }
  .p-white{
    color: rgba(255, 255, 255, 0.60);
    
  }
  .p-white-2{
    color: rgba(255, 255, 255, 0.80);
    
  }

.container{ 
    padding-left: 4%;
    padding-right: 4%;
  }